body {
  background-color: #480032;
  padding: 8px;
}

img {
  border: solid #1EAFED;
}

#my {
  border-radius: 30%;
}

hr {
  border: 10px;
  border-radius: 100%;
  width: 30%;
  border-style: outset none none;
  border-color: #F8F3D4;
}

h1 {
  padding: 20px;
  font-family: Georgia;
  text-align: center;
  text-shadow: 2px 2px 2px #1EAFED;
  color: #FFFFFF;
}

h2, h3 {
  font-family: Book Antiqua;
  color: #FFFFFF;
}

p, ol, ul, label {
  font-family: Georgia;
  color: #1EAFED;
}

a {
  color: #FFFFFF;
  /*text-decoration:;*/
}
